openapi: 3.0.0
info:
  title: Eclipse RESTful API
  description: |-
    This describes the resources that make up the official Eclipse Foundation REST API.

    You can contribute to this document via our [git repository](https://github.com/chrisguindon/api.eclipse.org-docs).

    If you have any problems or requests please contact [Christopher Guindon](mailto:chris.guindon@eclipse-foundation.org).

    ### Other related REST APIs

    Althought they are not directly related to this API, the Eclipse forge proposes several other access points and APIs for specific tools and purposes. Please see the following resources for more details:

    + [Eclipse Bugzilla](https://bugs.eclipse.org/bugs) **([Documentation](https://wiki.mozilla.org/Bugzilla:REST_API))**

    + [Eclipse Gerrit](https://git.eclipse.org/r/) **([Documentation](https://gerrit-review.googlesource.com/Documentation/rest-api.html))**

    + [Eclipse Jenkins](https://ci.eclipse.org/) **([Documentation](https://wiki.jenkins.io/display/JENKINS/Remote+access+API))**

    + [Eclipse Marketplace](http://marketplace.eclipse.org/) **([Documentation](https://wiki.eclipse.org/Marketplace/REST))**

    + [Eclipse Project Management Infrastructure (PMI)](https://wiki.eclipse.org/Project_Management_Infrastructure) **([Documentation](https://wiki.eclipse.org/Project_Management_Infrastructure#Web_APIs))**

    ### Rate Limit

    This API currently limits users to 1000 authenticated requests and 1000 anonymous requests an hour.

    ### Pagination

    Information about pagination is provided in the Link header of an API call. For example, let’s make 
    a curl request to the eclipse_profile API, to find out how many org_eclipse_oomph records exist for the user:

    ```curl -I "https://api.eclipse.org/api/blob/KJBNCEW08231nkJKCEW32898239?page=1&pagesize=2"```

    The -I parameter indicates that we only care about the headers, not the content. 
    In examining the result, you’ll notice some information in the Link header that looks like this:

    ```
    <https://api.eclipse.org/api/blob/KJBNCEW08231nkJKCEW32898239?page=2&amp;pagesize=2>; rel="next", <https://api.eclipse.org/api/blob/KJBNCEW08231nkJKCEW32898239?page=27&amp;pagesize=2>; rel="last", <https://api.eclipse.org/api/blob/KJBNCEW08231nkJKCEW32898239?page=1&amp;pagesize=2>; rel="first", <https://api.eclipse.org/api/blob/KJBNCEW08231nkJKCEW32898239?page=1&amp;pagesize=2>; rel="self"
    ```

    Let’s break that down. rel="next" says that the next page is page=2. This makes sense, since by default, 
    all paginated queries start at page 1. rel="last" provides some more information, stating that the last page of results is on page 27.

    Keep in mind that you should always rely on these link relations provided to you. Don’t try to guess or construct your own URL.

    ### Caching

    Most responses return an ETag header. You can use the values of these headers to make subsequent 
    requests to those resources using the If-None-Match or if-Match header. For example, if the resource 
    has not changed on a GET, the server will return a 304 Not Modified.

    The Etag for a blob resource is predictable. This is how we are currently generating them:

    ```
    function _generate_etag($value, $application_token, $key) {
      $string = $value . $application_token . $key;
      return  hash('sha256', $string, FALSE);
    }
    ```

    ### Authentication

    *Eclipse Api RESTful API* uses OAuth2 Authorization for protected resources.

    ### Error States

    The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) 
    are used.
  contact: {}
  version: '1.0'
servers:
  - url: 'https://api.eclipse.org'
    description: The production API server
paths:
  /account/profile:
    get:
      tags:
        - User Profiles
      summary: Current user
      description: Retrieve profile information about current user.
      operationId: CurrentUser
      parameters: []
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currentuserresponse'
                description: ''
              example:
                - uid: 9
                  name: cguindon
                  mail: chris.guindon@eclipse-foundation.org
                  eca:
                    signed: true
                  is_committer: true
                  friends:
                    friend_id: 6104
                  first_name: Christopher
                  last_name: Guindon
                  twitter_handle: chrisguindon
                  org: Eclipse Foundation
                  job_title: Lead Web Application Developper
                  website: 'http://www.chrisguindon.com/'
                  country:
                    code: CA
                    name: Canada
                  bio: 'Hello world! When I am not at a computer, which is rare, I spend my time playing the drums, watching hockey or at the top of a hill snowboarding. I am also very passionate about music and live concerts!'
                  interests:
                    - Snowboarding
                    - webdev
                    - php
                    - javascript
                    - Drums
      deprecated: false
  '/account/profile/{name}':
    get:
      tags:
        - User Profiles
      summary: Retrieve user
      description: Retrieve profile information about a specified user.
      operationId: RetrieveUser
      parameters:
        - name: name
          in: path
          description: A valid Eclipse username.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieveuserresponse'
              example:
                uid: 9
                name: cguindon
                mail: chris.guindon@eclipse-foundation.org
                eca:
                  signed: true
                is_committer: true
                friends:
                  friend_id: 6104
                first_name: Christopher
                last_name: Guindon
                twitter_handle: chrisguindon
                org: Eclipse Foundation
                job_title: Lead Web Application Developper
                website: 'http://www.chrisguindon.com/'
                country:
                  code: CA
                  name: Canada
                bio: 'Hello world! When I am not at a computer, which is rare, I spend my time playing the drums, watching hockey or at the top of a hill snowboarding. I am also very passionate about music and live concerts!'
                interests:
                  - Snowboarding
                  - webdev
                  - php
                  - javascript
                  - Drums
      deprecated: false
  /account/profile/:
    get:
      tags:
        - User Profiles
      summary: Search for a user
      description: 'Search for a user by uid, name or mail. The uid will be used first, then the name and if no user was found, the server will try to load a user by mail.'
      operationId: SearchForAUser
      parameters:
        - name: uid
          in: query
          description: A valid User ID.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: name
          in: query
          description: A valid username.
          style: form
          explode: true
          schema:
            type: string
        - name: mail
          in: query
          description: A valid encoded mail.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Searchforauserresponse'
                description: ''
              example:
                - uid: 9
                  name: cguindon
                  mail: chris.guindon@eclipse-foundation.org
                  eca:
                    signed: true
                  is_committer: true
                  friends:
                    friend_id: 6104
                  first_name: Christopher
                  last_name: Guindon
                  twitter_handle: chrisguindon
                  org: Eclipse Foundation
                  job_title: Lead Web Application Developper
                  website: 'http://www.chrisguindon.com/'
                  country:
                    code: CA
                    name: Canada
                  bio: 'Hello world! When I am not at a computer, which is rare, I spend my time playing the drums, watching hockey or at the top of a hill snowboarding. I am also very passionate about music and live concerts!'
                  interests:
                    - Snowboarding
                    - webdev
                    - php
                    - javascript
                    - Drums
      deprecated: false
  '/account/profile/{name}/forum':
    get:
      tags:
        - User Profiles
      summary: Forum posts
      description: This method returns forum post associated with a user.
      operationId: ForumPosts
      parameters:
        - name: name
          in: path
          description: A valid Eclipse username.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '<https://api.eclipse.org/account/profile/cguindon/forum?page=1&amp;pagesize=20>; rel="last", <https://api.eclipse.org/account/profile/cguindon/forum?page=1&amp;pagesize=20>; rel="first", <https://api.eclipse.org/account/profile/cguindon/forum?page=1&amp;pagesize=20>; rel="self"'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forumpostsresponse'
              example:
                id: 125133
                alias: Christopher Guindon
                avatar_loc: null
                email: chris.guindon@eclipse-foundation.org
                posted_msg_count: 2
                join_date: 1329944087
                location: null
                sig: null
                last_visit: 1489180635
                level_name: Junior Member
                level_img: null
                posts:
                  - msg_id: 1385038
                    msg_thread_id: 781490
                    msg_poster_id: 125133
                    msg_reply_to: 0
                    msg_post_stamp: 1401828571
                    msg_update_stamp: 0
                    msg_updated_by: 0
                    msg_subject: sdfdsf
                    thread_id: 781490
                    thread_forum_id: 97
                    thread_root_msg_id: 1385038
                    thread_last_post_date: 1490969896
                    thread_replies: 6
                    thread_views: 8925
                    thread_rating: 0
                    thread_n_rating: 0
                    thread_last_post_id: 1758673
                    thread_orderexpiry: 0
                    thread_thread_opt: 0
                    thread_tdescr: ''
                    forum_name: Test
                    forum_cat_id: 3
                    forum_description: 'Forum for testing messages. This is <b>UNRELATED to testing with Eclipse</b>.  Use the <a href=''http://www.eclipse.org/forums/eclipse.tptp''>Test and Performance forum</a> for those discussions instead.'
                    forum_date_created: 1248707241
                    forum_thread_count: 975
                    forum_post_count: 1526
                    forum_last_post_id: 1764500
                    cat_name: General (non-technical)
                    cat_description: ' - Click +/- to expand/collapse'
                    read_last_view: null
                    last_msg_poster_id: 216471
                    last_msg_subject: 'Re: sdfdsf'
                    last_msg_post_stamp: 1490969896
                    last_msg_update_stamp: 0
                    last_poster_email: m.amjadi@engineer.com
                    last_poster_alias: Mohammad H. Amir Amjadi
                    root_msg_poster_id: 125133
                    root_msg_subject: sdfdsf
                    root_msg_post_stamp: 1401828571
                    root_msg_update_stamp: 0
                    root_poster_email: chris.guindon@eclipse-foundation.org
                    root_poster_alias: Christopher Guindon
                    last_user_msg_poster_id: 125133
                    last_user_msg_subject: sdfdsf
                    last_user_msg_stamp: 1401828571
                    msg4_update_stamp: 0
                    msg_group_post_stamp: 1479327581
      deprecated: false
  '/account/profile/{name}/projects':
    get:
      tags:
        - User Profiles
      summary: Project Relationship
      description: This call returns a list of project affiliations for a particular user.
      operationId: ProjectRelationship
      parameters:
        - name: name
          in: path
          description: A valid Eclipse username.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRelationshipresponse'
              example:
                technology.cbi:
                  - ActiveDate: 2014-12-15T00:00:00.000Z
                    InactiveDate: null
                    EditBugs: 0
                    ProjectName: Common Build Infrastructure
                    url: 'https://projects.eclipse.org/projects/technology.cbi'
                    Relation:
                      Relation: CM
                      Description: Committer
                      IsActive: 1
                      Type:
                        Type: PR
                        Description: Person - Project
                technology.usssdk:
                  - ActiveDate: 2016-09-21T00:00:00.000Z
                    InactiveDate: null
                    EditBugs: 0
                    ProjectName: Eclipse USS SDK
                    url: 'https://projects.eclipse.org/projects/technology.usssdk'
                    Relation:
                      Relation: CM
                      Description: Committer
                      IsActive: 1
                      Type:
                        Type: PR
                        Description: Person - Project
                  - ActiveDate: 2016-09-21T00:00:00.000Z
                    InactiveDate: null
                    EditBugs: 0
                    ProjectName: Eclipse USS SDK
                    url: 'https://projects.eclipse.org/projects/technology.usssdk'
                    Relation:
                      Relation: PL
                      Description: Project Lead
                      IsActive: 1
                      Type:
                        Type: PR
                        Description: Person - Project
                foundation-internal:
                  - ActiveDate: 2012-12-21T00:00:00.000Z
                    InactiveDate: null
                    EditBugs: 0
                    ProjectName: Internal Foundation Projects
                    url: ''
                    Relation:
                      Relation: CM
                      Description: Committer
                      IsActive: 1
                      Type:
                        Type: PR
                        Description: Person - Project
      deprecated: false
  '/account/profile/{name}/gerrit':
    get:
      tags:
        - User Profiles
      summary: Gerrit review count
      description: This method returns gerrit review count for a user.
      operationId: GerritReviewCount
      parameters:
        - name: name
          in: path
          description: A valid Eclipse username.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gerritreviewcountresponse'
              example:
                merged_changes_count: 671
      deprecated: false
  '/account/profile/{name}/mailing-list':
    get:
      tags:
        - User Profiles
      summary: Mailing List Subscriptions
      description: This method returns mailing list subscriptions for a user.
      operationId: MailingListSubscriptions
      parameters:
        - name: name
          in: path
          description: A valid Eclipse username.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailingListSubscriptionsresponse'
              example:
                mailing_list_subscriptions:
                  - list_name: epp-dev
                    list_description: Eclipse Packaging Project
                  - list_name: eclipse.org-webdev
                    list_description: Eclipse.org Webdev notices and discussions
      deprecated: false
  /uss/blob:
    get:
      tags:
        - Eclipse USS
      summary: Fetch Blobs
      description: Retrieve a list of all the blobs for a user. Requires the `uss_retrieve` scope.
      operationId: FetchBlobs
      parameters:
        - name: page
          in: query
          description: 'The index of the page to get, defaults to 1.'
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pagesize
          in: query
          description: 'The number of records to get per page, defaults to 20. Maximum value is 100.'
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
        - name: User-Agent
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: USER_AGENT
        - name: Content-Type
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '<https://api.eclipse.org/uss/blob?page=1&amp;pagesize=20>; rel="last", <https://api.eclipse.org/uss/blob?page=1&amp;pagesize=20>; rel="first", <https://api.eclipse.org/uss/blob?page=1&amp;pagesize=20>; rel="self"'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchBlobsresponse'
                description: ''
              example:
                - application_token: MZ04RMOpksKN5GpxKXafq2MSjSP
                  etag: 9f76b4dde4cb5146daa5686a7f4376084dbe41bf9c9d4a12b722fe1062eb48eb
                  changed: 1497030093
                  key: mpc_favorites
                  url: 'https://api.eclipse.org/account/profile/1/blob/MZ04RMOpksKN5GpxKXafq2MSjSP/mpc_favorites'
        '401':
          description: ''
      deprecated: false
  '/uss/blob/{application_token}/{blob_key}':
    get:
      tags:
        - Eclipse USS
      summary: Search Blobs
      description: Search specific user blob object. Requires the `uss_retrieve` scope.
      operationId: SearchBlobs
      parameters:
        - name: application_token
          in: path
          description: 'Unique identifer of the project, e.g., eclipse.org.oomph.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: blob_key
          in: path
          description: 'Unique identifier of the profile setting to save, e.g., install_xml.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: page
          in: query
          description: 'The index of the page to get, defaults to 1.'
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pagesize
          in: query
          description: 'The number of records to get per page, defaults to 20. Maximum value is 100.'
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
        - name: User-Agent
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: USER_AGENT
        - name: If-None-Match
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: 54d66cdf0a31cf65bf3f6c9888fc3efdd51dd079f5da4200d7e6ccb399b25a61
        - name: Content-Type
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
        - name: If-Modified-Since
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: 'Wed, 21 Oct 2015 07:28:00 GMT'
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '<https://api.eclipse.org/uss/blob?page=1&amp;pagesize=20>; rel="last", <https://api.eclipse.org/uss/blob?page=1&amp;pagesize=20>; rel="first", <https://api.eclipse.org/uss/blob?page=1&amp;pagesize=20>; rel="self"'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Etag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '"9f76b4dde4cb5146daa5686a7f4376084dbe41bf9c9d4a12b722fe1062eb48eb"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchBlobsresponse'
              example:
                application_token: MZ04RMOpksKN5GpxKXafq2MSjSP
                etag: 9f76b4dde4cb5146daa5686a7f4376084dbe41bf9c9d4a12b722fe1062eb48eb
                changed: 1497030093
                key: mpc_favorites
                url: 'https://api.eclipse.org/account/profile/1/blob/MZ04RMOpksKN5GpxKXafq2MSjSP/mpc_favorites'
                value: MzI3NDQwNQ==
        '304':
          description: ''
        '401':
          description: ''
      deprecated: false
    delete:
      tags:
        - Eclipse USS
      summary: Delete Blobs
      description: Delete a blob for a user. Requires the `uss_update` scope.
      operationId: DeleteBlobs
      parameters:
        - name: application_token
          in: path
          description: 'Unique identifer of the project, e.g., eclipse.org.oomph.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: blob_key
          in: path
          description: 'Unique identifier of the profile setting to save, e.g., install_xml.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
        - name: User-Agent
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: USER_AGENT
        - name: If-None-Match
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: 54d66cdf0a31cf65bf3f6c9888fc3efdd51dd079f5da4200d7e6ccb399b25a61
        - name: Content-Type
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      responses:
        '204':
          description: ''
          headers: {}
        '401':
          description: ''
      deprecated: false
    put:
      tags:
        - Eclipse USS
      summary: Update/Create Blobs
      description: Delete a blob for a user. Requires the `uss_update` scope.
      operationId: Update/createBlobs
      parameters:
        - name: application_token
          in: path
          description: 'Unique identifer of the project, e.g., eclipse.org.oomph.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: blob_key
          in: path
          description: 'Unique identifier of the profile setting to save, e.g., install_xml.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
        - name: User-Agent
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: USER_AGENT
        - name: If-Match
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: 54d66cdf0a31cf65bf3f6c9888fc3efdd51dd079f5da4200d7e6ccb399b25a61
        - name: Content-Type
          in: header
          description: ''
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Etag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '"9f76b4dde4cb5146daa5686a7f4376084dbe41bf9c9d4a12b722fe1062eb48eb"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCreateBlobsresponse'
              example:
                url: 'https://api.eclipse.org/api/blob/:namespace/:key'
        '201':
          description: ''
        '401':
          description: ''
      deprecated: false
  '/download/file/{file_id}':
    get:
      tags:
        - Download
      summary: Retrieve File
      description: Fetch download file information.
      operationId: RetrieveFile
      parameters:
        - name: file_id
          in: path
          description: The id of a download file.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveFileresponse'
              example:
                file_id: 213
                file_name: /stats/releases/mars/org.eclipse.oomph.setup.sdk
                download_count: 4499
                size_disk_bytes: 0
                timestamp_disk: 0
                md5sum: nofile
                sha1sum: nofile
                sha512sum: nofile
      deprecated: false
  '/download/release/{release_type}':
    get:
      tags:
        - Download
      summary: Release
      description: Fetch download file information.
      operationId: Release
      parameters:
        - name: release_type
          in: path
          description: 'Release type, e.g., eclipse_packages.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: release_name
          in: query
          description: 'The name of the release, e.g., oxygen.'
          style: form
          explode: true
          schema:
            type: string
        - name: release_version
          in: query
          description: 'The version of the release, e.g., sr1, 0, 1.'
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Releaseresponse'
              example:
                release_name: neon
                release_version: r
                packages:
                  jee-package:
                    name: Eclipse IDE for Java EE Developers
                    package_bugzilla_id: jee-package
                    download_count: 1231525
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-ide-java-ee-developers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      Tools for Java developers creating Java EE and Web applications, including a Java IDE, tools for Java EE, JPA, JSF, Mylyn, EGit and others.
                    features:
                      - org.eclipse.epp.package.jee.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.datatools.common.doc.user
                      - org.eclipse.datatools.connectivity.doc.user
                      - org.eclipse.datatools.connectivity.feature
                      - org.eclipse.datatools.doc.user
                      - org.eclipse.datatools.enablement.feature
                      - org.eclipse.datatools.intro
                      - org.eclipse.datatools.modelbase.feature
                      - org.eclipse.datatools.sqldevtools.feature
                      - org.eclipse.datatools.sqltools.doc.user
                      - org.eclipse.egit
                      - org.eclipse.egit.mylyn
                      - org.eclipse.jdt
                      - org.eclipse.jpt.common.eclipselink.feature
                      - org.eclipse.jpt.common.feature
                      - org.eclipse.jpt.dbws.eclipselink.feature
                      - org.eclipse.jpt.jaxb.eclipselink.feature
                      - org.eclipse.jpt.jaxb.feature
                      - org.eclipse.jpt.jpa.eclipselink.feature
                      - org.eclipse.jpt.jpa.feature
                      - org.eclipse.jsf.feature
                      - org.eclipse.jst.common.fproj.enablement.jdt
                      - org.eclipse.jst.enterprise_ui.feature
                      - org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature
                      - org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature
                      - org.eclipse.jst.server_adapters.ext.feature
                      - org.eclipse.jst.server_adapters.feature
                      - org.eclipse.jst.server_ui.feature
                      - org.eclipse.jst.webpageeditor.feature
                      - org.eclipse.jst.webpageeditor.feature
                      - org.eclipse.jst.web_ui.feature
                      - org.eclipse.jst.ws.axis2tools.feature
                      - org.eclipse.jst.ws.axis2tools.feature
                      - org.eclipse.jst.ws.cxf.feature
                      - org.eclipse.jst.ws.jaxws.dom.feature
                      - org.eclipse.jst.ws.jaxws.feature
                      - org.eclipse.m2e.feature
                      - org.eclipse.m2e.logback.feature
                      - org.eclipse.m2e.wtp.feature
                      - org.eclipse.m2e.wtp.jaxrs.feature
                      - org.eclipse.m2e.wtp.jpa.feature
                      - org.eclipse.m2e.wtp.jsf.feature
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.java_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.pde
                      - org.eclipse.recommenders.mylyn.rcp.feature
                      - org.eclipse.recommenders.rcp.feature
                      - org.eclipse.cft.server.core.feature
                      - org.eclipse.cft.server.ui.feature
                      - org.eclipse.rse
                      - org.eclipse.rse.useractions
                      - org.eclipse.tm.terminal.feature
                      - org.eclipse.wst.common.fproj
                      - org.eclipse.wst.jsdt.feature
                      - org.eclipse.wst.jsdt.chromium.debug.feature
                      - org.eclipse.wst.server_adapters.feature
                      - org.eclipse.wst.web_ui.feature
                      - org.eclipse.wst.xml_ui.feature
                      - org.eclipse.wst.xsl.feature
                    files:
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-jee-neon-R-linux-gtk.tar.gz'
                          size: 299 MB
                          file_id: 1524320
                          file_url: 'https://api.eclipse.org/download/file/1524320'
                          download_count: 14810
                          checksum:
                            md5: 526ddec029b7f036b3e99a61b460433d
                            sha1: e8874627ef24180681e4f50023131858b2c2bf99
                            sha512: 4449200d77a0ea25ead72f2e47e135f0a7c546d1c484ab2ed928dc09fe191d59820bf4924d151c9d08c8d704b4d3212c13e3e4c2275b7a56b5adc2cf7709ae66
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-jee-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 299 MB
                          file_id: 1516862
                          file_url: 'https://api.eclipse.org/download/file/1516862'
                          download_count: 112057
                          checksum:
                            md5: 5b034fe90970b4397aa41d819e8ffd4a
                            sha1: 353178c8031c4f96ee8b872ba7765801a75ed6cc
                            sha512: e66bfafb3fb568a23c203c7acf64a92b9424f7f03673bcb2ae23e77cb3001bbacc3acdf041e120657ce9eeb49c39009104bb046bafd2584ca2202333c31d08c4
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-jee-neon-R-win32.zip'
                          size: 301 MB
                          file_id: 1496662
                          file_url: 'https://api.eclipse.org/download/file/1496662'
                          download_count: 236198
                          checksum:
                            md5: e448375731e107d50638f034d879f694
                            sha1: 34d7ec1122ba1283592ec725ca42113c25acb396
                            sha512: 7dc144ea3613e7fc42c74e6dddb682b6705088a5e54092baf888389bb71cc37a0ce4ce7b17ba45f3ce1d3c1c9fdb744e4a0e925167c12befd1f6c498620d94cc
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-jee-neon-R-win32-x86_64.zip'
                          size: 301 MB
                          file_id: 1483618
                          file_url: 'https://api.eclipse.org/download/file/1483618'
                          download_count: 789774
                          checksum:
                            md5: 1542baca4dce7808cc61a20e10211d17
                            sha1: cd00f5d5d3aa8932c8988513632fb82cd3c7f4bb
                            sha512: 5cc9b1f93825707fe39ee4ac0c7733bf5e8f32525bb58cf1f422e4f8bcb464ea2ecfec5a5c20f770c18e9a461413cb711dce7d4fcfe27d3a02689baf59688f3a
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-jee-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 299 MB
                          file_id: 1510957
                          file_url: 'https://api.eclipse.org/download/file/1510957'
                          download_count: 78686
                          checksum:
                            md5: 583d4b9e2030defbacee7cb8cd820b63
                            sha1: 75899b2decba15fbbe7be44f5d474e9def477b6c
                            sha512: d3b2ea5db93cdb3ca16cf6a674ed359ec7a3fc8953c721e3b19443ac0f0d3479bb1ee6f5783deecee8c3ff3c181cab451fe52155ef36c40935d78fc29bb97ca8
                  java-package:
                    name: Eclipse IDE for Java Developers
                    package_bugzilla_id: java-package
                    download_count: 560313
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-ide-java-developers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      The essential tools for any Java developer, including a Java IDE, a Git client, XML Editor, Mylyn, Maven and Gradle integration
                    features:
                      - org.eclipse.epp.package.java.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.buildship
                      - org.eclipse.egit
                      - org.eclipse.egit.mylyn
                      - org.eclipse.jdt
                      - org.eclipse.jgit
                      - org.eclipse.m2e.feature
                      - org.eclipse.m2e.logback.feature
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.git
                      - org.eclipse.mylyn.hudson
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.java_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.recommenders.mylyn.rcp.feature
                      - org.eclipse.recommenders.rcp.feature
                      - org.eclipse.recommenders.snipmatch.rcp.feature
                      - org.eclipse.wst.xml_ui.feature
                    files:
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-java-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 160 MB
                          file_id: 1524135
                          file_url: 'https://api.eclipse.org/download/file/1524135'
                          download_count: 51597
                          checksum:
                            md5: 94a564abb4f0dc014e84043bd6fdf495
                            sha1: 684297167ccc6435b6434ee8c24ef226b1e9991f
                            sha512: be17f820859c73ec19b44bf83ddfeccd503e008df837005cbb80f16adf97d53aefbc1488dfe5c8fec796da0de11d70e647e735fb98ad29aecc2a8c44e6d66eb5
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-java-neon-R-win32.zip'
                          size: 161 MB
                          file_id: 1515686
                          file_url: 'https://api.eclipse.org/download/file/1515686'
                          download_count: 135236
                          checksum:
                            md5: b21c5c168ec3d5a4b5ec7336625ba85b
                            sha1: 78919c417386ce0a5df27eba542e07f62c2331ef
                            sha512: 618ecc193b3fa7e2b5bb85fbc6a75142487e9cef63a0b2f7e7130f49babe1e793ace4fa6ee83848fc74fea7ed2faa094f81504c4a918184882200b1218006134
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-java-neon-R-win32-x86_64.zip'
                          size: 161 MB
                          file_id: 1483666
                          file_url: 'https://api.eclipse.org/download/file/1483666'
                          download_count: 326737
                          checksum:
                            md5: 80cebd741b815ecffff6326c98cc2bbd
                            sha1: 3330a534b40c28a189da328130a29561795250e0
                            sha512: 57d979b19cc86fbf0f6bfa9464aa89413662b5bbe3c984492d78247ebf72048ec57946aada55bd5c7fa81746f202e600e8048ee81729936f101971941e97c10d
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-java-neon-R-linux-gtk.tar.gz'
                          size: 160 MB
                          file_id: 1524479
                          file_url: 'https://api.eclipse.org/download/file/1524479'
                          download_count: 7396
                          checksum:
                            md5: 3b8f3098ec353962208a38af3cbb36c6
                            sha1: 7e4caabffafa4e5379893846a636f46d691f03a8
                            sha512: 57ffab533690bcbeabb40966ef7f05aab85868afc669c5a54631e8a3ec99e1f74bde19ab51f18d8d580a05fb3c80154f0b187595c91e0445219cece9c0346ceb
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-java-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 160 MB
                          file_id: 1523565
                          file_url: 'https://api.eclipse.org/download/file/1523565'
                          download_count: 39347
                          checksum:
                            md5: dc4cf41b6f48af4978885c66d9630d3d
                            sha1: d7562af3c5a7377d05abae14e746b36b4896d39f
                            sha512: 01bc46fcaf3187bc70bb0f26dcdae9fa2f633106785c1c8b41b2d3daf4330efbd0d6a00d5dbc2d6159a6faefb74c403d98794bdbf172cd6e73d6156f36f94641
                  cpp-package:
                    name: Eclipse IDE for C/C++ Developers
                    package_bugzilla_id: cpp-package
                    download_count: 197278
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-ide-cc-developers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      An IDE for C/C++ developers with Mylyn integration.
                    features:
                      - org.eclipse.epp.package.cpp.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.cdt
                      - org.eclipse.cdt.autotools
                      - org.eclipse.cdt.build.crossgcc
                      - org.eclipse.cdt.debug.standalone
                      - org.eclipse.cdt.debug.ui.memory
                      - org.eclipse.cdt.launch.remote
                      - org.eclipse.cdt.mylyn
                      - org.eclipse.egit
                      - org.eclipse.linuxtools.cdt.libhover.feature
                      - org.eclipse.linuxtools.cdt.libhover.devhelp.feature
                      - org.eclipse.linuxtools.changelog.c
                      - org.eclipse.linuxtools.gcov
                      - org.eclipse.linuxtools.gprof.feature
                      - org.eclipse.linuxtools.rpm
                      - org.eclipse.linuxtools.valgrind
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.team_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.rse
                      - org.eclipse.tracecompass.gdbtrace
                      - org.eclipse.tracecompass.lttng2.control
                      - org.eclipse.tracecompass.lttng2.kernel
                      - org.eclipse.tracecompass.lttng2.ust
                    files:
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-cpp-neon-R-win32.zip'
                          size: 176 MB
                          file_id: 1524293
                          file_url: 'https://api.eclipse.org/download/file/1524293'
                          download_count: 33790
                          checksum:
                            md5: eb526e56ebf93df96f584a2184488eb1
                            sha1: b69b8a2e8eed5ef982eb4c23653c78f671a6a949
                            sha512: 4314ddc67d723a30380cfa36cf3496d28785485d103c5150b85d64eaa96ca0c20a7849668779b536d78f25b8a5e49744cac584a9a2ae364eb125735f40eb0c20
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-cpp-neon-R-win32-x86_64.zip'
                          size: 176 MB
                          file_id: 1524207
                          file_url: 'https://api.eclipse.org/download/file/1524207'
                          download_count: 85751
                          checksum:
                            md5: 7694342c71b025791b4ca69c2ce798a5
                            sha1: 98152b923ce8c4f656a13f730747304b12d78fd5
                            sha512: ba65f745b11a6e4a5c23eb1df32f0b14f853e572d3b39a7fcf3f4d07fea2e309694f9c62ae34a35bf61fc696ae47d3013b3731086341d84fddbe933812acefba
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-cpp-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 175 MB
                          file_id: 1524150
                          file_url: 'https://api.eclipse.org/download/file/1524150'
                          download_count: 14826
                          checksum:
                            md5: 7a0325aff425cb2625388e9f52ab9816
                            sha1: 85fec7f0997b14030b7b4bff14dba2db29bfb24d
                            sha512: 8d7516a9400a920b5acd574e947d9196c502dd0a88db6303158603ee81d0fe86ba850560ba98d83bdfba5dabd1820eb8ef410284ae2fe900bbe44959f08f2619
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-cpp-neon-R-linux-gtk.tar.gz'
                          size: 182 MB
                          file_id: 1524302
                          file_url: 'https://api.eclipse.org/download/file/1524302'
                          download_count: 10826
                          checksum:
                            md5: 76ba76b9ee4f8d7a594125ced87bee88
                            sha1: c3473d0c02712ed559606f65e2e54c51bc2c8c1b
                            sha512: 0ed94a7a2bccc530f32c491b7282f261cbb1e431b7369c9a8e976248f71cbd11339598b6cf3c8a047f17d1b11ee94a28cf2e1a51e354562926b4d3f0ee08b24e
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-cpp-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 182 MB
                          file_id: 1523714
                          file_url: 'https://api.eclipse.org/download/file/1523714'
                          download_count: 52085
                          checksum:
                            md5: e9ee3b49afa8a9b7a46d744e87290301
                            sha1: 6d708f40feb9c41b15529c6cb8f527deee9ac04a
                            sha512: d4da1d315e37fe7e418304bc48eda84ebd62ac0ac2385211fbc1dff1a14f4928d0b4914a55958df2f07d4567de8dcc486a4afd41f180cb2fdd91801e362258f8
                  android-package:
                    name: Eclipse for Android Developers
                    package_bugzilla_id: android-package
                    download_count: 119802
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-android-developers-includes-incubating-components/neonr'
                    incubating: true
                    class: ''
                    body: |
                      An IDE for developers creating Android applications.
                    features:
                      - org.eclipse.epp.package.android.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.andmore.android.basic.feature
                      - org.eclipse.andmore.gldebugger.feature
                      - org.eclipse.andmore.hierarchyviewer.feature
                      - org.eclipse.andmore.ndk.feature
                      - org.eclipse.andmore.traceview.feature
                      - org.eclipse.buildship
                      - org.eclipse.egit
                      - org.eclipse.egit.mylyn
                      - org.eclipse.jdt
                      - org.eclipse.m2e.feature
                      - org.eclipse.m2e.logback.feature
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.git
                      - org.eclipse.mylyn.hudson
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.java_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.recommenders.mylyn.rcp.feature
                      - org.eclipse.recommenders.rcp.feature
                      - org.eclipse.recommenders.snipmatch.rcp.feature
                      - org.eclipse.wst.xml_ui.feature
                    files:
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-android-neon-R-incubation-linux-gtk.tar.gz'
                          size: 243 MB
                          file_id: 1525322
                          file_url: 'https://api.eclipse.org/download/file/1525322'
                          download_count: 1828
                          checksum:
                            md5: 9300cf4af38e7515bd8cd1572a62ae73
                            sha1: 09a2eb7247c6ffe9d5990b825ed5615af7d07a29
                            sha512: 293d2d765179176075692596b44a9baab8e1984d066a2bf1d029431a7a8a078485ff52f158d5458783ac5643714c7f5d17636fd36e1b2571c7c1f0bed9d4f026
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-android-neon-R-incubation-linux-gtk-x86_64.tar.gz'
                          size: 243 MB
                          file_id: 1524233
                          file_url: 'https://api.eclipse.org/download/file/1524233'
                          download_count: 6817
                          checksum:
                            md5: 6dae90fdcc0cc3a49a8cfe5c4ee68c43
                            sha1: 86f6fe742cbcf5471247c819d59bf658ebaa49b9
                            sha512: 798e7e80bb6c347a978c275503d249191251ee8014830ab3d571ff656b5f3ac5dadf57f4e79fc7e7916bc9e0d6feccd8dfbadb76bd6a8766b5a41ddf14d1ed4d
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-android-neon-R-incubation-win32.zip'
                          size: 245 MB
                          file_id: 1524356
                          file_url: 'https://api.eclipse.org/download/file/1524356'
                          download_count: 26896
                          checksum:
                            md5: d323f0ac85cb0526e835bcc23ae6f28b
                            sha1: 76a8161ee434c72c8f0d90609c240dc263802f91
                            sha512: 7e6054c5af55e0338d5dd0d07fbafd72ca69b3af125a8646c3e24112e0ea906efa43338b28bbab2f59ecb73a5afad4590d91c521b1d6959677a3bd9c60e1b595
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-android-neon-R-incubation-win32-x86_64.zip'
                          size: 245 MB
                          file_id: 1524306
                          file_url: 'https://api.eclipse.org/download/file/1524306'
                          download_count: 76619
                          checksum:
                            md5: 6a9d56b94d26429370e9b4134d7645d2
                            sha1: 2ec2e2a032ef4771ff8c04764b38c59c8d28d100
                            sha512: 1da1fd3a779b91010cb2e29ed6632cae9f87bd8c3df62af3d633f6d42cfcdf37b4031b9fa5b6118d4f7c5398907fe4cbe31c016915a78917c50d8407a4f6a6ee
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-android-neon-R-incubation-macosx-cocoa-x86_64.tar.gz'
                          size: 244 MB
                          file_id: 1524250
                          file_url: 'https://api.eclipse.org/download/file/1524250'
                          download_count: 7642
                          checksum:
                            md5: 907423883e2bf2a0533f1d9d218cc774
                            sha1: 4906c6101479678c279acde63ba15f9da103280e
                            sha512: 93a85ed681d6f11d7c3b9a8942be39e3a92fc5d472a7ef4b50e40bc4ca311b2cc39f4b36cb4a42af8974334d62ad24081afd96c22ef8596473b3c72ac383dd9b
                  php-package:
                    name: Eclipse for PHP Developers
                    package_bugzilla_id: php-package
                    download_count: 108187
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-php-developers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      The essential tools for any PHP developer, including PHP language support, Git client, Mylyn and editors for JavaScript, HTML, CSS and XML.
                    features:
                      - org.eclipse.epp.package.php.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.egit
                      - org.eclipse.egit.gitflow.feature
                      - org.eclipse.egit.mylyn
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.github.feature
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.php.mylyn
                      - org.eclipse.php.importer
                      - org.eclipse.php
                      - org.eclipse.wst.jsdt.feature
                      - org.eclipse.wst.xml_ui.feature
                    files:
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-php-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 160 MB
                          file_id: 1524494
                          file_url: 'https://api.eclipse.org/download/file/1524494'
                          download_count: 8517
                          checksum:
                            md5: 19b5f43d0b896dd294262962718baca1
                            sha1: 2ffa637414c33a40ec011fb43ef190875c8b8b27
                            sha512: 82e4a16c74916b93c5d4994c8202d393fbafc23391eafc89bc9f0e46ff82b30a9670c819f509e6cecb06376263ca9febcedcdc0abd7cf228642890f856aec701
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-php-neon-R-linux-gtk.tar.gz'
                          size: 160 MB
                          file_id: 1525126
                          file_url: 'https://api.eclipse.org/download/file/1525126'
                          download_count: 2470
                          checksum:
                            md5: 6718005f1a87d12e452ef2b5d0e143dd
                            sha1: 98ceec59073c1a914cf3dcbe5ff9642dc87bea89
                            sha512: 4fe370bacb80c1b9a9e5296d3985451ed491a2cafb19563af60c2df116a6a2ca95de9abc39a5689889ca4827440d55baaca559ce4fd0474719d2258a926b9df2
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-php-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 160 MB
                          file_id: 1524255
                          file_url: 'https://api.eclipse.org/download/file/1524255'
                          download_count: 14220
                          checksum:
                            md5: 02d4b3ac00cd7b37db0fbed490a02709
                            sha1: 136d8a3d94b55a8424214630a0700162d977fb72
                            sha512: 728eed94ac9324bb10e3ed56998628edf6b1d618bd82030351e2ad261f535810aab3920ec9b7522cd656c0ecf6b3b9354aefcbd42adaadddde5f86e2e942cc92
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-php-neon-R-win32.zip'
                          size: 161 MB
                          file_id: 1524383
                          file_url: 'https://api.eclipse.org/download/file/1524383'
                          download_count: 17445
                          checksum:
                            md5: f87370d525d75fddea404ca23e534654
                            sha1: 82e1a85d1b05de7ffbfa836fd957c9a3a50ccb1a
                            sha512: 0970d5b966168ab05ecdfc21282d3024015c838f6afb66d9d177b0e80f735c7d39f5c18d3ed1197799997f47d5312344dce82452728f58a49f91d15c4ec819e6
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-php-neon-R-win32-x86_64.zip'
                          size: 161 MB
                          file_id: 1524166
                          file_url: 'https://api.eclipse.org/download/file/1524166'
                          download_count: 65535
                          checksum:
                            md5: 1b35504359e60a10c2f6cff86f27c582
                            sha1: e512ee9542949c10af31958c34c13889ac81f69c
                            sha512: 46c2077a45896cd3c85fec7ccb964835bd8ceec181daacfe205e86a999546c52e5ab91df71faa6fe31c1642f6df493bcf4fc62438c45167204a20cacb88fac3d
                  reporting-package:
                    name: Eclipse IDE for Java and Report Developers
                    package_bugzilla_id: reporting-package
                    download_count: 75827
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-ide-java-and-report-developers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      Java EE tools and BIRT reporting tool for Java developers to create Java EE and Web applications that also have reporting needs.
                    features:
                      - org.eclipse.epp.package.reporting.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.birt.chart.cshelp
                      - org.eclipse.birt.cshelp
                      - org.eclipse.birt.doc
                      - org.eclipse.birt.example
                      - org.eclipse.birt
                      - org.eclipse.datatools.common.doc.user
                      - org.eclipse.datatools.connectivity.doc.user
                      - org.eclipse.datatools.connectivity.feature
                      - org.eclipse.datatools.doc.user
                      - org.eclipse.datatools.enablement.feature
                      - org.eclipse.datatools.intro
                      - org.eclipse.datatools.modelbase.feature
                      - org.eclipse.datatools.sqldevtools.feature
                      - org.eclipse.datatools.sqltools.doc.user
                      - org.eclipse.jdt
                      - org.eclipse.jpt.common.eclipselink.feature
                      - org.eclipse.jpt.common.feature
                      - org.eclipse.jpt.dbws.eclipselink.feature
                      - org.eclipse.jpt.jaxb.eclipselink.feature
                      - org.eclipse.jpt.jaxb.feature
                      - org.eclipse.jpt.jpa.eclipselink.feature
                      - org.eclipse.jpt.jpa.feature
                      - org.eclipse.jsf.feature
                      - org.eclipse.jst.common.fproj.enablement.jdt
                      - org.eclipse.jst.enterprise_ui.feature
                      - org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature
                      - org.eclipse.jst.server_adapters.ext.feature
                      - org.eclipse.jst.server_adapters.feature
                      - org.eclipse.jst.server_ui.feature
                      - org.eclipse.jst.webpageeditor.feature
                      - org.eclipse.jst.web_ui.feature
                      - org.eclipse.jst.ws.axis2tools.feature
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.java_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.rse
                      - org.eclipse.rse.useractions
                      - org.eclipse.tm.terminal.feature
                      - org.eclipse.wst.common.fproj
                      - org.eclipse.wst.jsdt.feature
                      - org.eclipse.wst.server_adapters.feature
                      - org.eclipse.wst.web_ui.feature
                      - org.eclipse.wst.xml_ui.feature
                      - org.eclipse.wst.xsl.feature
                    files:
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-reporting-neon-R-linux-gtk.tar.gz'
                          size: 309 MB
                          file_id: 1525452
                          file_url: 'https://api.eclipse.org/download/file/1525452'
                          download_count: 665
                          checksum:
                            md5: eece49f787953545683d26579d547368
                            sha1: 97e2ffad55df94180aa8423d760aba561debdadc
                            sha512: a1fef86ce393035b4548d21a22f0ee09258159d337de88e5a7563c3c7f9aac11094765083b7ab6b1c6de5e486804c9bea57dcebb72d352ea71f8d7b6f6799c62
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-reporting-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 310 MB
                          file_id: 1524284
                          file_url: 'https://api.eclipse.org/download/file/1524284'
                          download_count: 5099
                          checksum:
                            md5: aa50a2d7867830355c8f398767636cc4
                            sha1: 31474634d56d8af3544220a6ee78d0f8fca4ba31
                            sha512: a776c0f6e6b6b1d2a8793274a060dfe32344ee32efbee0e09eaac0c34926f3e88d60067501f73b969d2ea25af0c006861e7281d8b6cece35d15e6697dce8d1f0
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-reporting-neon-R-win32.zip'
                          size: 311 MB
                          file_id: 1525333
                          file_url: 'https://api.eclipse.org/download/file/1525333'
                          download_count: 9087
                          checksum:
                            md5: ee6d9a1403b91c74bc3c8d3449f8c4df
                            sha1: 62e444d033911234748f87a7273d94e2060efc8e
                            sha512: dee1c5f5c0319925e6298d731370ee283cb26005e0cf7b6a267861b5fcefe8952a0679344aee0492b4b0881ba36a7259cd4a6646c1f324caa0e3855c3e385290
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-reporting-neon-R-win32-x86_64.zip'
                          size: 311 MB
                          file_id: 1524402
                          file_url: 'https://api.eclipse.org/download/file/1524402'
                          download_count: 55294
                          checksum:
                            md5: 66c5023b052ca0f5722ac2d974632661
                            sha1: 318670bd82838529ad0e32d39da6feb3c594e72c
                            sha512: e14b6ffc27f9c40e0f7651bcb4b13260a8ba257c541362ea2ca464d01a708b52f8a1623ac3b3e630234063a72b7da32cba0ff910e432dd6995095ee4dd77332c
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-reporting-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 310 MB
                          file_id: 1527808
                          file_url: 'https://api.eclipse.org/download/file/1527808'
                          download_count: 5682
                          checksum:
                            md5: a5ca997cca7e3d77c66b869ba2fbc105
                            sha1: b4b730366731413ec6906d0181bed47fc9397001
                            sha512: 46cc676a634f7f8ae0004b9b7c5678a5a60e553612044c250b2d02ff4e70cd77fd03215f2e8309c59b858e13934f8c533c45b5200088f6a5a13e6537e98e7166
                  committers-package:
                    name: Eclipse IDE for Eclipse Committers
                    package_bugzilla_id: committers-package
                    download_count: 41746
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-ide-eclipse-committers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      Package suited for development of Eclipse itself at Eclipse.org; based on the Eclipse Platform adding PDE, Git, Marketplace Client, source code and developer documentation.
                      Click here to file a bug against Eclipse Platform.
                      Click here to file a bug against Eclipse Git team provider.
                    features:
                      - org.eclipse.epp.package.committers.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.buildship
                      - org.eclipse.cvs
                      - org.eclipse.cvs.source
                      - org.eclipse.e4.core.tools.feature
                      - org.eclipse.egit
                      - org.eclipse.egit.mylyn
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.equinox.p2.user.ui
                      - org.eclipse.help
                      - org.eclipse.jdt
                      - org.eclipse.jdt.source
                      - org.eclipse.jgit
                      - org.eclipse.jgit.http.apache
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.builds
                      - org.eclipse.mylyn.commons
                      - org.eclipse.mylyn.commons.identity
                      - org.eclipse.mylyn.commons.notifications
                      - org.eclipse.mylyn.commons.repositories
                      - org.eclipse.mylyn.commons.repositories.http
                      - org.eclipse.mylyn.discovery
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.gerrit.dashboard.feature
                      - org.eclipse.mylyn.gerrit.feature
                      - org.eclipse.mylyn.git
                      - org.eclipse.mylyn.hudson
                      - org.eclipse.mylyn.monitor
                      - org.eclipse.mylyn.reviews.feature
                      - org.eclipse.mylyn.team_feature
                      - org.eclipse.mylyn.versions
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.pde
                      - org.eclipse.pde.source
                      - org.eclipse.platform.source
                      - org.eclipse.rcp.source
                      - org.eclipse.recommenders.news.rcp.feature
                      - org.eclipse.recommenders.mylyn.rcp.feature
                      - org.eclipse.recommenders.rcp.feature
                      - org.eclipse.recommenders.snipmatch.rcp.feature
                    files:
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-committers-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 250 MB
                          file_id: 1524211
                          file_url: 'https://api.eclipse.org/download/file/1524211'
                          download_count: 4719
                          checksum:
                            md5: 52be998fd3682b56b439bf03f338dd0d
                            sha1: 9c4b9058c3a3f6199ae373e1c45175f0115ebaec
                            sha512: c168593cfeebdbf14797505d1e47ec7eebd72b7f979e5da78a6596ad2c3faae637fb725d8b05884f16be0f23bc4fb4155e403ea48acc4ccf22357c6bf6c4017e
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-committers-neon-R-linux-gtk.tar.gz'
                          size: 250 MB
                          file_id: 1525686
                          file_url: 'https://api.eclipse.org/download/file/1525686'
                          download_count: 605
                          checksum:
                            md5: f8fc14ed285d075af0300f320918344e
                            sha1: fd10990f81ae46d55387c56c528bbb22ca0e1367
                            sha512: dc5ee097c7cdc354276606745b7e61f3aefaf30f5d3d729b6676033634a0d2afddd3bebba3381741f2137351b13e1093ecbf840bb2a02baf4836e1ee71239a15
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-committers-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 250 MB
                          file_id: 1524425
                          file_url: 'https://api.eclipse.org/download/file/1524425'
                          download_count: 2225
                          checksum:
                            md5: 144db1455448d2977d4695ffbc0f63b6
                            sha1: 75a1cb2257f7955001af207ebe7bdc3640c14c62
                            sha512: ce4ca5ac5bbb251f3b8878a73fe313d3a716933e1b625c20fafc3db8c40859d1dc842d2b841fe471400e9254f3ed86f6590b1b0b8b2081e7c6e01351b78625a8
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-committers-neon-R-win32.zip'
                          size: 251 MB
                          file_id: 1524283
                          file_url: 'https://api.eclipse.org/download/file/1524283'
                          download_count: 12044
                          checksum:
                            md5: 7f1a766177266b8d7427d9f2923fc992
                            sha1: 5a251350ffc8af51e77bd86472ae7a3c771b6b77
                            sha512: 69e99995c75ce9f5038fd6ab562e0b49628c058da7484cce9693ff0692a6d39676d40461de9540426d28e574a144704195d4e1923932501ee7e4b722fda6ccac
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-committers-neon-R-win32-x86_64.zip'
                          size: 252 MB
                          file_id: 1483658
                          file_url: 'https://api.eclipse.org/download/file/1483658'
                          download_count: 22153
                          checksum:
                            md5: c7f18c844094ee7cec10e1ab13ecccdc
                            sha1: 0708487ba047fcaa79928fe5f3ade8b74902d866
                            sha512: c5e86f03e9f0497003ede16edc21721f8de9bd297bd3ec6ac8537a8f7415458bfd09fcf2175350b2797b9f84f6b9efcffbe94e999158d5f817261dfa4b383d00
                  javascript-package:
                    name: Eclipse IDE for JavaScript and Web Developers
                    package_bugzilla_id: javascript-package
                    download_count: 33070
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-ide-javascript-and-web-developers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      The essential tools for any JavaScript developer, including JavaScript language support, Git client, Mylyn and editors for JavaScript, HTML, CSS and XML.
                    features:
                      - org.eclipse.epp.package.javascript.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.egit
                      - org.eclipse.egit.mylyn
                      - org.eclipse.egit.gitflow.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.equinox.p2.user.ui
                      - org.eclipse.help
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.mylyn.github.feature
                      - org.eclipse.wst.web_ui.feature
                      - org.eclipse.wst.xml_ui.feature
                      - org.eclipse.wst.json_ui.feature
                      - org.eclipse.wst.jsdt.feature
                      - org.eclipse.wst.jsdt.chromium.debug.feature
                      - org.eclipse.wst.server_ui.feature
                      - org.eclipse.wst.server_adapters.feature
                      - org.eclipse.thym.feature
                      - org.eclipse.tm.terminal.feature
                      - org.eclipse.rse
                    files:
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-javascript-neon-R-linux-gtk.tar.gz'
                          size: 152 MB
                          file_id: 1526084
                          file_url: 'https://api.eclipse.org/download/file/1526084'
                          download_count: 623
                          checksum:
                            md5: 6318c5c7cec4b5dbd48f145b316f63b3
                            sha1: a967a1e9677110c2bcecce456fa7314babd51f2a
                            sha512: c30cdb5a710f7148c0fccea1dcfc2ae0e1292601542af497ac73cdd8b88ed95fd562b6c6f6d37322458efb30886e71b3c036b0d9e4ad26ecb2227d3199a749d5
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-javascript-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 152 MB
                          file_id: 1524430
                          file_url: 'https://api.eclipse.org/download/file/1524430'
                          download_count: 3973
                          checksum:
                            md5: 4afd4f0ecc5c783fdb9e8ba7aab85c48
                            sha1: e001f590f479307bd0d8f2f561e17d8ba6af5dd7
                            sha512: 6cbddad97bb484f2af3559ee58bbb7c88f5c570697054ad0eb9b37dbf3e43fc1f879565e6c151c5b8c0ec5eac2fbb9e5fda49a56d8b47e0333295ec568fdccfa
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-javascript-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 152 MB
                          file_id: 1524444
                          file_url: 'https://api.eclipse.org/download/file/1524444'
                          download_count: 2858
                          checksum:
                            md5: 7c3b8ea6d0e31d1f93d51bc8f02f80e6
                            sha1: bdc5ffff2f9822a7a86271c994cb96ef0f1e881d
                            sha512: ae7f0980d23a9f80eb47dff60537a7966c04806bab79afaedd1278e63fe6c3842feb926650e8b4b164105b40d5ea800309b0bad4b4c221889f6b710bfecfc1e8
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-javascript-neon-R-win32.zip'
                          size: 153 MB
                          file_id: 1524273
                          file_url: 'https://api.eclipse.org/download/file/1524273'
                          download_count: 5747
                          checksum:
                            md5: a73a626ca59bcb62fc4faac061ae1601
                            sha1: 2281f03db190f738593f584a88a22d713317742c
                            sha512: d74796ff7cfdfa0902030afabb69e305d31ec0a862c31eac74d835a4101cbb3955cff27c6614990a8dcab24f2aa9f1a3b0fae1632e33e3b299df9c8c407685e7
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-javascript-neon-R-win32-x86_64.zip'
                          size: 153 MB
                          file_id: 1524168
                          file_url: 'https://api.eclipse.org/download/file/1524168'
                          download_count: 19869
                          checksum:
                            md5: 654618033d609f35afa68082c72c760a
                            sha1: 00cee84b68a10257ebecfaba7f0d2182af6b8b80
                            sha512: 668d89134ae0aeaca95d36fc79667084036d78e4bb9066d0b3b037d800e23d47365a1cce7b0e7dda26876ba1d3c78be25fb5f274f406d4db8bd01536c6802194
                  dsl-package:
                    name: Eclipse IDE for Java and DSL Developers
                    package_bugzilla_id: dsl-package
                    download_count: 13360
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-ide-java-and-dsl-developers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      The essential tools for Java and DSL developers, including a Java &amp; Xtend IDE, a DSL Framework (Xtext), a Git client, XML Editor, and Maven integration.
                    features:
                      - org.eclipse.epp.package.dsl.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.emf.ecore.xcore.sdk
                      - org.eclipse.emf.mwe2.language.sdk
                      - org.eclipse.emf.sdk
                      - org.eclipse.xtext.sdk
                    files:
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-dsl-neon-R-linux-gtk.tar.gz'
                          size: 307 MB
                          file_id: 1528603
                          file_url: 'https://api.eclipse.org/download/file/1528603'
                          download_count: 293
                          checksum:
                            md5: 97489bf2ca0016b712a990bb5df6aa04
                            sha1: 5a47d0d895f724c94ab71090600d598c944bd555
                            sha512: bdfc97fa67d9a6660e249706f881df7005c8e76437a06f020bfda30f02ea3afb95799d054af27864985aaff33c6d91584bca0b22c01604a32dd328e3644fb449
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-dsl-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 307 MB
                          file_id: 1524421
                          file_url: 'https://api.eclipse.org/download/file/1524421'
                          download_count: 861
                          checksum:
                            md5: 87d481557c8fc460510f08950a93780c
                            sha1: e32d39281766edfcc68dfca963345b220a9bfa0c
                            sha512: 26d38648495133bad5658888c792ac175219f32a3a84e69674d755d9a11fba8eb0a6711e9a017c69c10649c06c1bf5bf858bc7dc8f1d7bc49f816a7e964ba3bf
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-dsl-neon-R-win32.zip'
                          size: 309 MB
                          file_id: 1524107
                          file_url: 'https://api.eclipse.org/download/file/1524107'
                          download_count: 4050
                          checksum:
                            md5: fd460f06359bd00337f5e6b1dfb1d7c5
                            sha1: 91f520d56b4246cc9bb4c2bb1a271ef976a1e641
                            sha512: d661c3eecf26e2c128da4e8ed35859368a20a1adc2b39192c7fa5746773e29e58ecb7f70637a13812f6475d4dcf88c5e67032248645e437e12627996107d5969
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-dsl-neon-R-win32-x86_64.zip'
                          size: 309 MB
                          file_id: 1524312
                          file_url: 'https://api.eclipse.org/download/file/1524312'
                          download_count: 7094
                          checksum:
                            md5: 9851fa5fb1ed4f83d68f788a3cff467a
                            sha1: 7b63a368a118b7a108df419f919bf2d16c197737
                            sha512: 6f379f1fa7ae0b00fc93aa1c6f9a25bcf6a1885cb0f140dd7b32b3bfba1874b9bd7ca79f4f1a8ded6fde59e85528eec66e849ef6ab0565a0e39e6412de420ff9
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-dsl-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 307 MB
                          file_id: 1524541
                          file_url: 'https://api.eclipse.org/download/file/1524541'
                          download_count: 1062
                          checksum:
                            md5: d355b631a7d23b97024d622654aa2576
                            sha1: 2186f313c4009ced315c2e32e5631d6e80c4562d
                            sha512: 6a489dac8783304656121b6a3dbb2c23121a7d402d40dd2b61880a307fdc99fa31300e2da391eb3e8fd28e28c5944711d49e69c1dcf89ba2c6808fc60bd1f9b7
                  rcp-package:
                    name: Eclipse for RCP and RAP Developers
                    package_bugzilla_id: rcp-package
                    download_count: 10905
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-rcp-and-rap-developers/neonr'
                    incubating: false
                    class: ''
                    body: |
                      A complete set of tools for developers who want to create Eclipse plug-ins, Rich Client Applications or Remote Application Platform (RCP+RAP), plus Maven and Gradle tooling, and an XML editor. It contains the EGit tooling for accessing Git version control systems.
                    features:
                      - org.eclipse.epp.package.rcp.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.jdt
                      - org.eclipse.pde
                      - org.eclipse.platform.source
                      - org.eclipse.rcp.source
                      - org.eclipse.buildship
                      - org.eclipse.e4.core.tools.feature
                      - org.eclipse.egit
                      - org.eclipse.egit.mylyn
                      - org.eclipse.m2e.feature
                      - org.eclipse.m2e.logback.feature
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn.gerrit.feature
                      - org.eclipse.mylyn.git
                      - org.eclipse.mylyn.hudson
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.java_feature
                      - org.eclipse.mylyn.pde_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.rap.tools.feature
                      - org.eclipse.recommenders.mylyn.rcp.feature
                      - org.eclipse.recommenders.rcp.feature
                      - org.eclipse.recommenders.snipmatch.rcp.feature
                      - org.eclipse.swtbot.eclipse.g.ef
                      - org.eclipse.swtbot.eclipse
                      - org.eclipse.swtbot.ide
                      - org.eclipse.wst.xml_ui.feature
                    files:
                      windows:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-rcp-neon-R-win32.zip'
                          size: 253 MB
                          file_id: 1523705
                          file_url: 'https://api.eclipse.org/download/file/1523705'
                          download_count: 2120
                          checksum:
                            md5: 978b29e839a523eca88945bfc61f897c
                            sha1: 26adc14d7d4bfca9748b23766f94c67347153a12
                            sha512: a9ca07e4b77a90da45acd1653af36cec71a2c204c75beacc4aabf1a59f2b3a7addbe9b0c2983c5fb86ff2789842929169d9e0b4ef83ed56d9eb18bd4feb8e576
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-rcp-neon-R-win32-x86_64.zip'
                          size: 253 MB
                          file_id: 1519683
                          file_url: 'https://api.eclipse.org/download/file/1519683'
                          download_count: 6011
                          checksum:
                            md5: 86794395a9ac3b3a83f6b6a2c732f160
                            sha1: bc5428102a9b320b1c7e677ff40495895fbf8123
                            sha512: 01f39831d674d4aecc95bd1337e9c5df23af81dfd6d5e2ba1fb092d3713a7412a158c6cb1b84c1473987d75dca8e4c555843657a86b829842631f460e3c2810c
                      linux:
                        '32':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-rcp-neon-R-linux-gtk.tar.gz'
                          size: 252 MB
                          file_id: 1523571
                          file_url: 'https://api.eclipse.org/download/file/1523571'
                          download_count: 267
                          checksum:
                            md5: e1ee3ff6db3dc23393ab4a9aeaf7203c
                            sha1: fb4e2722d7a9d7c1eeaa7cab05ad8831cfe99b92
                            sha512: f40183f9d038c89f9e825afb1080d7d7aa4f24c06a16d48904f4367bc3c39b204e886ae87a23af6afe4b60dfe17ce1be7ee91a156b28a82bd5c8bd5189e9e0e7
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-rcp-neon-R-linux-gtk-x86_64.tar.gz'
                          size: 252 MB
                          file_id: 1524363
                          file_url: 'https://api.eclipse.org/download/file/1524363'
                          download_count: 1599
                          checksum:
                            md5: d71a7f69610cd72255f92c7c1b470d5f
                            sha1: 16513e7e93b88d3342000853886e0aca8ecd2480
                            sha512: 4c3719abf3fca7c9d247b1fe0ad601ceedf4d23e16d824a6720ec82567096393277694216e3bfeaa0263add1e1540b978b988c79564851b88594e7ec9b30b2fc
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-rcp-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 252 MB
                          file_id: 1519969
                          file_url: 'https://api.eclipse.org/download/file/1519969'
                          download_count: 908
                          checksum:
                            md5: 27c3a4310762f0c45c1977be52bc1f53
                            sha1: 66d8264700222cd986baa178e5e80da170f39667
                            sha512: 1b7b079c8303824aff3c70aba31af89707275a7214ed865157b665339f87fc89007488513e8600e41964144c4093088c9f29cabae010dba10a97ee4dd4bf2934
                  modeling-package:
                    name: Eclipse Modeling Tools
                    package_bugzilla_id: modeling-package
                    download_count: 9634
                    website_url: 'http://www.eclipse.org/downloads/packages/eclipse-modeling-tools/neonr'
                    incubating: false
                    class: ''
                    body: |
                      The Modeling package provides tools and runtimes for building model-based applications.
                              You can use it to graphically design domain models, to leverage those models at design time by creating and editing dynamic instances, to collaborate via Eclipse's team support with facilities for comparing and merging models and model instances structurally, and finally to generate Java code from those models to produce complete applications.
                              In addition, via the package's discover catalog, you can easily install a wide range of additional powerful, model-based tools and runtimes to suit your specific needs.
                    features:
                      - org.eclipse.epp.package.modeling.feature
                      - org.eclipse.epp.package.common.feature
                      - org.eclipse.platform
                      - org.eclipse.amalgam.discovery
                      - org.eclipse.e4.core.tools.feature
                      - org.eclipse.egit
                      - org.eclipse.emf.cdo.epp
                      - org.eclipse.emf.compare.ide.ui.source
                      - org.eclipse.emf.compare.source
                      - org.eclipse.emf.compare.diagram.sirius.source
                      - org.eclipse.emf.compare.egit
                      - org.eclipse.emf.ecoretools.explorer.contextual
                      - org.eclipse.emf.ecoretools.design
                      - org.eclipse.emf.ecp.sdk.feature
                      - org.eclipse.emf.parsley.sdk
                      - org.eclipse.emf.parsley.sdk.source
                      - org.eclipse.emf.emfstore.sdk.feature
                      - org.eclipse.emf.query.sdk
                      - org.eclipse.emf.sdk
                      - org.eclipse.emf.transaction.sdk
                      - org.eclipse.emf.validation.sdk
                      - org.eclipse.g.ef.sdk
                      - org.eclipse.g.mf.runtime.sdk
                      - org.eclipse.jdt
                      - org.eclipse.mylyn.bugzilla_feature
                      - org.eclipse.mylyn.context_feature
                      - org.eclipse.mylyn_feature
                      - org.eclipse.mylyn.ide_feature
                      - org.eclipse.mylyn.java_feature
                      - org.eclipse.mylyn.pde_feature
                      - org.eclipse.mylyn.wikitext_feature
                      - org.eclipse.ocl.all.sdk
                      - org.eclipse.pde
                      - org.eclipse.sdk
                      - org.eclipse.uml2.sdk
                      - org.eclipse.xsd.sdk
                    files:
                      mac:
                        '64':
                          url: 'http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/neon/R/eclipse-modeling-neon-R-macosx-cocoa-x86_64.tar.gz'
                          size: 388 MB
                          file_id: 1524553
                          file_url: 'https://api.eclipse.org/download/file/1524553'
                          download_count: 899
                          checksum:
                            md5: 4b3b8ba5ad522b9e8dcad4b9cf69949f
                            sha1: 33e13262fbe4552d2027115ed0e5a4d4c46819e2
[...]
