<header role="banner" class="thin-header margin-top-10" id="header-wrapper">
  <div class="container-fluid">
    <div class="row" id="header-row">
      <div class="col-sm-6 col-md-6 col-lg-5 padding-left-0" id="header-left">
        <div class="wrapper-logo-default padding-top-10"><a href="https://www.eclipse.org/"><img class="logo-eclipse-default img-responsive hidden-xs" alt="logo" src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-426x100.png"/></a></div>
      </div>
      <div class="col-sm-18 col-md-18 col-lg-19" id="main-menu-wrapper">
        <div class="navbar yamm navbar-right" id="main-menu">
          <div id="navbar-collapse-1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="visible-thin"><a href="https://www.eclipse.org/downloads/" target="_self">Download</a></li>
              <li><a href="https://www.eclipse.org/users/" target="_self">Getting Started</a></li>
              <li><a href="https://www.eclipse.org/membership/" target="_self">Members</a></li>
              <li><a href="https://www.eclipse.org/projects/" target="_self">Projects</a></li>
              <li class="dropdown visible-xs">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Community <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="http://marketplace.eclipse.org">Marketplace</a></li>
                  <li><a href="http://events.eclipse.org">Events</a></li>
                  <li><a href="http://www.planeteclipse.org/">Planet Eclipse</a></li>
                  <li><a href="https://www.eclipse.org/community/eclipse_newsletter/">Newsletter</a></li>
                  <li><a href="https://www.youtube.com/user/EclipseFdn">Videos</a></li>
                </ul>
              </li>
              <li class="dropdown visible-xs">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Participate <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
                  <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
                  <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
                  <li><a href="https://wiki.eclipse.org/">Wiki</a></li>
                  <li><a href="https://wiki.eclipse.org/IRC">IRC</a></li>
                  <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
                </ul>
              </li>
              <li class="dropdown visible-xs">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Working Groups <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="http://iot.eclipse.org">Internet of Things</a></li>
                  <li><a href="http://locationtech.org">LocationTech</a></li>
                  <li><a href="http://lts.eclipse.org">Long-Term Support</a></li>
                  <li><a href="http://polarsys.org">PolarSys</a></li>
                  <li><a href="http://science.eclipse.org">Science</a></li>
                  <li><a href="http://www.openmdm.org">OpenMDM</a></li>
                </ul>
              </li>
              <!-- More -->
              <li class="dropdown eclipse-more hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle">More<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <!-- Content container to add padding -->
                    <div class="yamm-content">
                      <div class="row">
                        <ul class="col-sm-8 list-unstyled">
                          <li>
                            <p><strong>Community</strong></p>
                          </li>
                          <li><a href="http://marketplace.eclipse.org">Marketplace</a></li>
                          <li><a href="http://events.eclipse.org">Events</a></li>
                          <li><a href="http://www.planeteclipse.org/">Planet Eclipse</a></li>
                          <li><a href="https://www.eclipse.org/community/eclipse_newsletter/">Newsletter</a></li>
                          <li><a href="https://www.youtube.com/user/EclipseFdn">Videos</a></li>
                        </ul>
                        <ul class="col-sm-8 list-unstyled">
                          <li>
                            <p><strong>Participate</strong></p>
                          </li>
                          <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
                          <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
                          <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
                          <li><a href="https://wiki.eclipse.org/">Wiki</a></li>
                          <li><a href="https://wiki.eclipse.org/IRC">IRC</a></li>
                          <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
                        </ul>
                        <ul class="col-sm-8 list-unstyled">
                          <li>
                            <p><strong>Working Groups</strong></p>
                          </li>
                          <li><a href="http://iot.eclipse.org">Internet of Things</a></li>
                          <li><a href="http://locationtech.org">LocationTech</a></li>
                          <li><a href="http://lts.eclipse.org">Long-Term Support</a></li>
                          <li><a href="http://polarsys.org">PolarSys</a></li>
                          <li><a href="http://science.eclipse.org">Science</a></li>
                          <li><a href="http://www.openmdm.org">OpenMDM</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div class="wrapper-logo-mobile"><a class="navbar-brand visible-xs" href="https://www.eclipse.org/"><img class="logo-eclipse-default-mobile img-responsive" alt="logo" src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-800x188.png"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>